$fa-font-path:'src/vendor/font-awesome/fonts';
@import "vendor/font-awesome/scss/font-awesome"; 

$bg-event-color: #000;
$bg-event-color-clone: #fff;
$bg-event: rgba($bg-event-color, 0.95);
$bg-event-clone: rgba($bg-event-color-clone, 0.95);

$fontColor: #fff;
$fontSize: 14px;

$padding: 5px;

$width-event: 250px;


$z-regions: 0;
$z-features: 1000;
$z-key-feature: $z-features+1;
$z-features-hover: $z-features+2;
$z-features-active: $z-features+3;
$z-loader: $z-features*10;
$z-clone: $z-features*2;
$z-nav: $z-features*2;

div.timeline{
    background:#000;
    height:100%;
    min-height:300px;
    overflow:hidden;
    position:relative;
    *{
        box-sizing:border-box;
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;
        outline:none;
        color:$fontColor;
        cursor:default;
        font-size:$fontSize;
        //-webkit-transition: border-width 0.25s, font-size 0.25s, margin 0.25s, opacity 0.5s; /* Safari */
        //transition: border-width 0.25s, font-size 0.25s, margin 0.25s, opacity 0.5s;
    }
    &.loading{
        &:before{
            @extend .fa;
            @extend .fa-spin;
            @extend .fa-spinner;
            color:#fff;
            font-size:64px;
            left:50%;
            margin:-32px 0 0 -32px;
            position:fixed;
            top:50%;
            z-index:$z-loader;
        }
    }
    div{
        position:absolute;            
    }
    button{
        @extend .fa;
        cursor: pointer;
        color:#fff;
        height:auto!important;
        &:hover{
            border:none;
        }
        &.close{
            @extend .fa-times;
            padding:10px;
            position:absolute;
            right:0;
            top:0;
            z-index:$z-nav;
        }
        
    }
    main{
        height:100%;
        overflow:hidden;
        position:relative;
    }   
    .timespan, .period{
        cursor:ew-resize;
        height:100%;
        &:hover{
            border:$padding solid rgba(#fff, 0.5);
        }
        h1, h2{
            bottom:0;
            left:$padding;
            margin:0;
            padding:$padding;
            position:absolute;
        }
    }
	.eon{
		height:95%;
	}
	.era{
		height:90%;
	}
	.age{
		height:85%;
	}
	.epoch{
		height:80%;
	}
    .scale{
        border-top:1px solid #fff;
        bottom:0px;
        list-style: none;
        margin:0;
        padding:0;
        position:absolute;
        &>*{
            border-left:1px solid #fff;
            bottom:0;
            padding-left:$padding;
            padding-bottom:$padding;
            position:absolute;
            white-space:nowrap;
            z-index:$z-features;
        }
    }
    .event{
        background:$bg-event;
        border-radius:2em;
        cursor:pointer;
        height:5px;
        min-width:5px;
        width:0;
        z-index:$z-features;
        h2{
            cursor:pointer;
        }
        h2,div{
            display:none;
            margin:0;
            width:$width-event;
        }
        &.key-event{
            h2{
                display:block;
            }
        }
        &.active{
            z-index:$z-features-active;
            h2,div{
                background:$bg-event;
                display:block;
                padding:$padding;
            }
            h2{
                margin-top:$padding*4;
                position:relative;
                &:before{
                    border:$padding*2 solid transparent;
                    border-bottom-color:$bg-event;
                    border-left-width:0;
                    content:"";
                    height:0;
                    left:0;
                    top:$padding*-4;
                    position:absolute;
                    z-index:-1;
                }
                &:after{
                    @extend .fa;
                    cursor:pointer;
                    content: $fa-var-times;
                    position:absolute;
                    right:$padding;
                    top:$padding;
                }
            }
            img{
                float:right;
                height:auto;
                margin:0 0 $padding $padding;
                width:50px;
            }
        }
    }
    .rotate{ 
        h2{
            margin-bottom:-10px;
            transform-origin: top left;
            transform:rotate(-90deg);
        }
    }   
    .clone{
        background: $bg-event;
		border:none!important;
        opacity: 1!important;
        z-index: $z-clone;
        main{
            .event{
                background:$bg-event-clone;
            }
        }
    }
}