@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.home {
  background: #333;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
body.home * {
  box-sizing: border-box;
  color: #fff;
}
body.home > * {
  height: 100%;
  position: absolute;
}
body.home div {
  left: 0;
  width: 20%;
}
body.home iframe {
  border: none;
  right: 0;
  width: 80%;
}
body.home h1 {
  font-size: 1em;
  margin: 0;
}
body.home a {
  display: block;
  padding: 10px;
}
body.home ul {
  background: #4d4d4d;
  display: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body.home li {
  border-bottom: 1px solid #666666;
  padding: 10px;
}
body.home li:last-child {
  border: none;
}
body.example {
  font-family: 'Lato', sans-serif;
}
