@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic);

html,body{height:100%;margin:0;padding:0;}



// Examples homepage
body{
    &.home{
        *{box-sizing:border-box;font-family: 'Lato', sans-serif;}
        &>*{height:100%;position:absolute;}
        div{left:0;width:20%;}
        iframe{border:none;right:0;width:80%;}
        h1{font-size:1em;}
        ul{display:none;margin-left:10px;padding-left:10px;}
    }
    &.example{
        font-family: 'Lato', sans-serif;
    }
}